:root {
  --tg-body-color: #b7b4bb;
  --tg-heading-color: #ffffff;
  --bg-color: #0a0a0a;
  --glow-color: rgba(45, 212, 191, 0.25);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

body {
  margin: 0;
  color: var(--tg-body-color);
  background-color: var(--bg-color);
  background-image: radial-gradient(circle at 50% 0%, var(--glow-color) 0%, transparent 60%);
  background-attachment: fixed;
  /* font-family: Bitter, Tahoma, sans-serif; */
  font-family: Rubik, Tahoma, sans-serif;
  /* font-family: Dosis, Tahoma, sans-serif; */
  overflow-x: hidden;
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container:target {
  padding-top: 80px;
}

.highlight-text {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.split {
  height: 20px;
  margin: 140px 0 100px 0;
  background-image: url(./assets/split.svg);
  background-size: 75px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.gradient-btn {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 20px; */
  height: 55px;
  line-height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  text-decoration: none;
}

.gradient-btn:hover {
  background-position: 100% 0;
}

.section-title {
  font-size: 40px;
  margin: 40px 0;
  text-align: center;
  color: var(--tg-heading-color);
  font-weight: 500;
}

.hide {
  display: none;
}

.m-header {
  position: sticky;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 9;
  padding: 10px 0;
  height: auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.m-header .logo {
  flex: 1;
}

/* .m-header .logo .title {
  text-indent: 1000px;
  margin: 0;
  width: 180px;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(./assets/logo.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
} */

.m-header .logo-image {
  width: 100px;
  height: auto;
}

.m-header .nav {
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.m-banner .nav.menu-hide {
  display: flex;
}

.m-header .nav a {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--tg-heading-color);
  padding: 30px 16px;
  display: block;
  line-height: 1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.m-header .nav a:hover {
  text-decoration: underline;
}

.m-social-accounts {
  margin-left: 40px;
  align-items: center;
  gap: 10px;
}

.m-social-accounts a {
  padding-left: 5px;
  font-size: 0;
  color: white;
  text-decoration: none;
}

.m-social-accounts i {
  font-size: 22px;
}

.m-header .menu-trigger {
  display: none;
  margin-left: 10px;
}




.m-banner {
  min-height: 410px;
  /* max-width: 1230px; */
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: visible;
}

.m-banner .banner-content {
  max-width: 67%;
}

.m-banner .banner-content .title {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--tg-heading-color);
  font-weight: 500;
}

.m-banner .banner-content .desc {
  /* font-size: 20px; */
  line-height: 1.5;
  max-width: 85%;
  margin: 0 0 36px;
}

.m-banner .btn {
  width: 220px;
  font-size: 20px;
  text-decoration: none;
}

.m-banner .banner-imgs {
  flex: 1;
  position: absolute;
  right: 30px;
  bottom: -120px;
  /* width: 656px; */
  z-index: -1;
  /* height: 600px; */
  /* background: pink; */
}

.m-banner .banner-imgs .iphone-x {
  zoom: 0.7;
  overflow: hidden;
}

.m-banner .banner-imgs .bg-img {
  width: 100%;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  z-index: -1;
}

.m-banner .banner-imgs video {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
  margin-left: -1px;
  margin-top: -1px;
}




.m-why {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 90px;
}

/* .m-why h4 {
  font-size: 28px;
  color: var(--tg-heading-color);
  margin-bottom: 80px;
  text-align: center;
} */

.m-why .list {
  margin: 0;
  padding: 0;
}

.m-why .item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 200px;
  margin-top: 150px;
  /* background: rgb(27 18 41); */
}

.m-why .item:nth-child(2n) {
  flex-direction: row-reverse;
}

.m-why .item:first-child {
  margin-top: 0;
}

.m-why .item .info {
  flex: 1;
  width: 500px;
}

.m-why .item .info p {
  font-size: 20px;
  line-height: 1.5;
}

.m-why .item img {
  width: 325px;
  max-height: 250px;
}

.m-why .item h3 {
  font-size: 25px;
  color: var(--tg-heading-color);
  margin: 10px 0;
}


.m-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-faq .list {
  background: rgba(255, 255, 255, 0.05);
  width: 80%;
  padding: 28px 48px;
  border-radius: 24px;
  margin: 0;
}

.m-faq .list li {
  list-style: none;
  bottom: 0;
  padding: 0;
  border-top: 1px solid rgba(131, 131, 131, 0.35);
}

.m-faq .list li:first-child {
  border-top: none;
}

.m-faq .list li .title {
  scroll-margin-block: 100px;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: var(--tg-heading-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.m-faq .list li .title::after {
  content: "\e930";
  font-family: "icomoon";
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
}

.m-faq .list li .title.active::after {
  transform: translateY(-50%) rotate(90deg);
}

.m-faq .list li .desc {
  max-height: 0;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  overflow: hidden;
  line-height: 1.5;
}

.m-faq .list li .desc.active {
  /* height: auto; */
  max-height: 2000px;
  /* transform: scaleY(1); */
  margin-bottom: 30px;
}



/* --- New Alerts Grid Section --- */
.m-alerts-grid {
  padding: 60px 0;
}

.alerts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 0 20px;
}

.alert-card {
  background: var(--card-bg, rgba(255, 255, 255, 0.03));
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 32px;
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
  backdrop-filter: blur(10px);
}

.alert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.06);
}

.alert-card h3 {
  font-size: 22px;
  margin: 0 0 16px 0;
  color: var(--tg-heading-color);
  font-weight: 600;
  background: linear-gradient(135deg, #fff 0%, #a5a5a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-card p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--tg-body-color);
  margin: 0;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .alerts-grid {
    grid-template-columns: 1fr;
  }
}


.m-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}


.m-footer .m-social-accounts {
  margin-left: 0;
}

.m-footer .m-social-accounts i {
  font-size: 24px;
}

.m-footer .copyright {
  margin: 100px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}


@keyframes rotate {
  50% {
    transform: translate(-50%, -73%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}

@keyframes change {
  from {
    top: -160px;
  }

  to {
    top: 0px;
  }
}



@media (max-width: 1500px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  /* .m-banner .banner-imgs {
    flex: 1;
    position: absolute;
    right: -29px;
    bottom: 40px;
    width: 580px;
    z-index: -1;
    height: 600px;
  } */

  /* .m-banner .banner-imgs .iphone-x {
    transform: scale(0.55);
    transform-origin: left top;
  } */

  /* .m-banner .banner-content .title {
    font-size: 35px;
  }

  .m-banner .banner-content .title .main-text {
    font-size: 45px;
  } */


  .m-why .item {
    gap: 100px;
  }

  .m-features {
    padding: 0;
  }

  .m-features .list .item .icon {
    margin-right: 35px;
  }

  .m-features .list .item .content .title {
    font-size: 25px;
  }

  .m-download .download-list li {
    margin: 0 45px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .m-header .nav {
    display: none;
    position: absolute;
    top: 95px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: #0F051D;
    /* backdrop-filter: blur(10px); */
    border-top: 1px solid #666;
    padding: 30px 0;
    box-shadow: 0 0 1px white;
    align-items: stretch;
  }

  .m-header .nav.menu-show {
    display: flex !important;
  }

  .m-header .nav a {
    padding: 20px 16px;
  }

  .m-header .menu-trigger {
    display: block;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 25px;
  }

  .m-banner {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .m-banner .banner-content {
    max-width: 100%;
  }

  .m-banner .banner-content .title {
    font-size: 35px;
  }

  .m-banner .banner-content .title .main-text {
    font-size: 56px;
  }

  .m-banner .banner-content .desc {
    max-width: 100%;
  }

  .m-banner .banner-imgs {
    position: static;
    width: 700px;
    height: 406px;
    bottom: -45px;
    /* margin-bottom: -140px; */
    margin-top: 40px;
  }

  .m-why .item {
    gap: 30px;
  }

  .m-why .item img {
    width: 200px;
  }

  .m-why .item .info {
    width: 450px;
  }

  /* .m-why .item .info p {
    font-size: 18px;
  } */

  .m-features .list .item {
    flex-direction: column;
  }

  .m-download .download-list li {
    margin: 0px 24px;
  }

  .m-footer .copyright {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
  }

  .m-banner .banner-imgs {
    position: relative;
    width: 540px;
    height: 340px;
    left: 0;
    /* margin-bottom: -220px; */
  }

  .m-why .item,
  .m-why .item:nth-child(2n) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .m-why .item h3 {
    text-align: center;
  }

  .m-why .item .info {
    width: 80%;
  }

  .m-features .list .item {
    flex-direction: column;
  }

  .m-footer .desc {
    width: 100%;
    font-size: 20px;
  }
}


@media (max-width: 576px) {
  .section-title {
    font-size: 30px;
  }

  .m-banner .banner-content .title {
    font-size: 30px;
  }

  .m-header .logo-image {
    width: 120px;
    height: auto;
  }

  .m-banner .banner-imgs {
    position: relative;
    width: 375px;
    height: 340px;
    left: 0;
    /* margin-bottom: -160px; */
  }

  .m-features .list .item {
    width: 100%;
    padding: 28px;
  }

  .m-features .list .item .content .title {
    text-align: center;
  }

  .m-features .list .item .icon {
    margin-right: 0;
  }

  .m-download .download-list {
    flex-direction: column;
    gap: 70px 10px;
  }

  .m-faq .list {
    background: rgba(255, 255, 255, 0.05);
    width: auto;
    padding: 28px 28px;
    border-radius: 24px;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .section-title {
    font-size: 28px;
  }

  .m-header .logo-image {
    width: 100px;
    height: auto;
  }

  .m-banner .banner-content .title {
    font-size: 22px;
  }

  .m-banner .banner-content .title .main-text {
    font-size: 27px;
  }

  .m-why .item .info p {
    font-size: 16px;
    text-align: center;
  }
}