<header class="m-header">
  <div class="container row">
    <div class="logo">
      <img src="/assets/kairalert-logo.jpg" width="180" height="77" alt="KairAlert Logo" class="logo-image">
    </div>
    <nav class="nav" id="js-menu">
      <a href="/#home">Home</a>
      <a href="/blog/en">Blog</a>
      <a href="/#why">Why KairAlert</a>
      <a href="/#features">Features</a>
      <a href="/#about">About</a>
      <a href="/#faq">FAQs</a>
    </nav>
    <div class="m-social-accounts row">
      <a href="https://twitter.com/zdying2024" target="_blank">Twitter <i class="icon-twitter"></i></a>
      <a href="https://discord.gg/ahbAUYGAw4" target="_blank">Discord <i class="icon-discord"></i></a>
      <a href="mailto:support@kairalert.pro?subject=Request%20for%20KairAlert%20Free%20Trial" target="_blank">Email <i
          class="icon-mail"></i></a>

      <!-- <a href="https://t.me/" target="_blank">Telegram <i class="icon-telegram"></i></a> -->
    </div>
    <div class="menu-trigger" id="js-menu-trigger">
      <i class="icon-menu"></i>
    </div>
  </div>
</header>