@media (max-width: 1500px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}